# Ignore CMake build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/install_manifest.txt

# Ignore compiled binaries
*.o
*.obj
*.so
*.a
*.out
sender

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs or temp files
*.log
*.tmp

# Editor / OS-specific files
.DS_Store
.vscode/
.idea/
*.swp
*~
